.markdown-body {
  box-sizing: border-box;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}
body{
  display:flex;
  overflow-y: scroll;
}
@media screen{
  div.sidebar{ width:30% }
  div.main{ width:70% }
}

@media print{
  div.sidebar,div.footer{ display:none }
  div.main{ width:100% }
}
a.permalink{
  font-size: 0.75em;
  vertical-align: super;
  text-decoration: none;
  margin-left: 0.3em;
  color: #888;
}
a.permalink:hover{
  color: #000;
  text-decoration: underline;
}
